<button id="TossCoins">Toss Coins</button>
<div id="result"></div>
<div id="hexagram"></div>
<div id="hexagram-meaning"></div>
<button id="NewReading" style="display: none">New Reading</button>

<style>
	#hexagram-meaning p {
		white-space: pre;
		white-space: pre-line;
	}
</style>

<script>
	var rolls = [];
	var headsPath = "<%= image_path "heads.png" %>";
	var tailsPath = "<%= image_path "tails.png" %>";
	var yinunchangingPath = "<%= image_path "yin_unchanging.png" %>";
	var yinchangingPath = "<%= image_path "yin_changing.png" %>";
	var yangunchangingPath = "<%= image_path "yang_unchanging.png" %>";
	var yangchangingPath = "<%= image_path "yang_changing.png" %>";

	function getRandomInt(min, max) {
	    min = Math.ceil(min);
	    max = Math.floor(max);
	    return Math.floor(Math.random() * (max - min + 1)) + min;
	}

	function ordinalSuffix(n) {
		if (n === 1) {
			return 'st';
		} else if (n === 2) {
			return 'nd';
		} else if (n === 3) {
			return 'rd';
		} else if (n >= 4) {
			return 'th';
		}
	}

	$("#TossCoins").click(() => {
		$('#result').empty();
		var one = getRandomInt(2, 3);
		var two = getRandomInt(3, 3);
		var three = getRandomInt(2, 3);

		rolls.push([one, two, three]);

		[one, two, three].forEach((coin) => {
			if (coin === 2) {
				$('#result').append('<img src="' + tailsPath + '">')
			} else if (coin === 3) {
				$('#result').append('<img src="' + headsPath + '">')				
			}
		})

		if (rolls.length === 6) {
			var hexagram = [];
			rolls.forEach((roll) => hexagram.push(roll[0] + roll[1] + roll[2]));
			hexagram.forEach((line) => {
				if (line === 6) {
					$('#hexagram').prepend('<img src="' + yinchangingPath + '"><br>')				
				} else if (line === 7) {
					$('#hexagram').prepend('<img src="' + yangunchangingPath + '"><br>')										
				} else if (line === 8) {
					$('#hexagram').prepend('<img src="' + yinunchangingPath + '"><br>')
				} else if (line === 9) {
					$('#hexagram').prepend('<img src="' + yangchangingPath + '"><br>')
				}
			})

			$('#TossCoins').hide();
			$('#NewReading').show()
			$('#NewReading').click(() => {
				rolls = [];
				$('#result').empty();
				$('#hexagram').empty();
				$('#TossCoins').show();
				$('#NewReading').hide();
				$('#hexagram-meaning').empty();
			});

			$.post({
				url: '/readings.json',
				data: {
					reading: rolls.map((roll) => roll[0] + roll[1] + roll[2]),
				},
				success: (response) => {
					$('#hexagram-meaning').append(
						'<h2>' + response.number + '. ' + response.name + '</h2>'
					);
					$('#hexagram-meaning').append(
						'<p><strong>' + response.nicknames + '</strong></p>'
					);

					$('#hexagram-meaning').append(
						'<h3>Above: ' + response.above + '</h3>'
					);
					$('#hexagram-meaning').append(
						'<h3>Below: ' + response.below + '</h3>'
					);


					$('#hexagram-meaning').append('<h4>General</h4>');
					$('#hexagram-meaning').append('<p>' + response.general + '</p>');

					$('#hexagram-meaning').append('<h4>Judgment</h4>');
					$('#hexagram-meaning').append('<p>' + response.judgment + '</p>');

					$('#hexagram-meaning').append('<h4>Image</h4>');
					$('#hexagram-meaning').append('<p>' + response.image + '</p>');		

					$('#hexagram-meaning').append('<h4>Commentary</h4>');
					$('#hexagram-meaning').append('<p>' + response.commentary + '</p>');

					var lines = rolls.map((roll) => roll[0] + roll[1] + roll[2]);

					if (lines.indexOf(6) > -1 || lines.indexOf(9) > -1) {
						$('#hexagram-meaning').append('<h4>Changing Lines</h4>');
					}

					response.lines.forEach((line, index) => {
						if (lines[index] === 6 || lines[index] === 9) {
							$('#hexagram-meaning').append(`
								<strong>
									${lines[index]} in the ${line.places}${
										ordinalSuffix(line.places)
									} place means:
								</strong> 
								<p>${line.meaning}</p>
								
							`)
						}							
					});												
				},
			});
		}
	})
</script>
